* {
    border-radius: 5px;
}
 /******************* Colores generales ***********************/
body {
    background: brown;
}
.container {
    background: burlywood;
}
li:hover, li a:hover {
    background: brown;
    color: cornsilk !important; 
}

/************************** Estilos **************************/
.logo {
    margin: 5% 0;
    width: 50%;
    max-height: 220px;
}
.flex-parent{
    margin-bottom: 5px;
}
div .img-circle {
    width: 40px;
    height: 40px;
}
.nav li {
    font-size: 20px;
}
.padding-ul {
    padding-left: 1% !important;
    padding-right: 1% !important;
}
.articulo {
    margin: 5px;
    padding: 5px;
    background: rgb(247, 225, 154);
}
.seccionBuscar {
    padding: 10px;
    background: rgb(247, 225, 154);
}
.label-class {
    font-size: 24px;
}
.busqueda {
    margin-top: 10px;
}
.comentarios {
    margin: 10px;
}

/*********************** Media Queries ********************/
@media (min-width: 992px) {
    .flex-parent{
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
    }
    .flex-child{
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}